@import '../variable.scss';
@import '../assets/fonts/fonts.scss';

.header_container{
    background-color: $red;
    .MuiBox-root{
        display: flex;
        .title_container{
            display: flex;
            padding: 1%;
            .header_icon{
                width: 35px;
                max-height: 35px;
                margin-left: 20px;
            }
            .header_title{
                color: $white;
                font-size: 1.6em;
                font-family: GillSans-BoldItalic;
            }
        }
        .MuiList-root{
            display: flex;
            margin-left: 100px;
            padding: 0;
            .MuiButtonBase-root{
                padding: 8px 24px;
                flex: none;
                min-width: 135px;
                .MuiListItemText-root{
                    .MuiTypography-root{
                        color: $white;
                        font-size: 0.9em;
                        font-family: GillSans;
                        text-align: center;
                    }
                }
                &.Mui-selected{
                    // background-color: $white;
                    .MuiListItemText-root{
                        .MuiTypography-root{
                            color: $white;
                            font-family: GillSans-Medium;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .right_container{
            display: flex;
            align-items: center;
            margin-left: 120px;
            .login_btn{
                background-color: $white;
                width: 130px;
                height: 40px;
                padding: 6px 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: none;
                border-radius: 0px;
                font-size: 0.9em;
                font-family: GillSans-Medium;
                color: $red;
                text-transform: capitalize;
            }
        }
    }

}
