@import '../variable.scss';
@import '../assets/fonts/fonts.scss';

.container {
    .main_container {
        background-color: $red;
        display: block;

        .top_container {
            display: flex;
            padding: 5%;
            justify-content: center;
            width: 100%;

            .title_text {
                .title_head {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    float: left;
                    width: 100%;
                    color: $white;
                    font-size: 2.6em;
                    font-family: 'GillSans';
                }

                .text_content {
                    display: flex;
                    padding-top: 25px;
                    padding-left: 25px;
                    text-align: center;
                    float: left;
                    width: 100%;
                    font-size: 1.3em;
                    color: $white;
                    font-family: 'GillSans-Light';
                }
            }
        }

        .form_container {
            background-color: $light;
            display: flex;
            @media screen and (max-width: 575px) {
                display: flex;
                width: 100%;
                flex-direction: column;
            }
            .form_left_container {
                width: 50%;
                display: flex;
                @media screen and (max-width: 1366px) {
                    
                }

                @media screen and (max-width: 1279px) {
                    
                }

                @media screen and (max-width: 1023px) {
                    display: block;
                    width: 100%;
                }

                @media screen and (max-width: 991px) {
                    display: block;
                    width: 100%;
                }

                @media screen and (max-width: 575px) {
                    display: block;
                    width: 100%;
                }
                .MuiBox-root {
                    display: flex;
                    float: left;
                    width: 100%;
                    padding: 20px 20px;
                    .MuiPaper-root {

                        .MuiTypography-root {
                            padding-top: 30px;

                            .form_fields {
                                height: 80px;

                                .lables {
                                    display: flex;
                                    float: left;
                                    height: 100%;
                                    font-family: "GillSans-CondensedBold";
                                    width: 25%;
                                    padding: 10px 15px;
                                    font-size: 1.2em;
                                }

                                .MuiFormControl-root {
                                    display: flex;
                                    float: left;
                                    height: 100%;
                                    width: 70%;
                                }
                            }
                        }

                        .create_request {
                            height: 80px;
                            float: right;
                            padding-right: 20px;

                            .MuiButtonBase-root {
                                background-color: $red;
                            }
                        }
                    }
                }
            }
            .form_right_container{
                display: flex;
                width: 50%;
                @media screen and (max-width: 1023px) {
                    display: block;
                    width: 100%;
                }
                @media screen and (max-width: 991px) {
                    display: block;
                    width: 100%;
                }
                @media screen and (max-width: 575px) {
                    display: block;
                    width: 100%;
                    height: 500px;
                }
            }
        }
    }
}